<h2>{{bandHbs.bandName}}</h2>
<ul>
    {{#each bandHbs.genres}}
        <li>{{this}}</li>
    {{/each}}
</ul>
<p>{{bandHbs.info}}</p>
<p>Admin email: {{bandHbs.admin.email}}</p>
<h6>Band members:</h6>
<ul>
    <li> <a href="/profile/{{bandHbs.admin._id}}"> Admin: {{bandHbs.admin.firstName}}</a></li>
    {{#each bandHbs.members}}
        <li><a href="/profile/{{this._id}}">{{this.firstName}}</a></li>
    {{/each}}
</ul>

<a href="/find-member/{{bandHbs._id}}"><button class="btn rounded-btns-red">Find members</button></a>

<a href="/edit-band/{{bandHbs._id}}"><button class="btn rounded-btns-white">Edit</button></a>