<h2>{{bandHbs.bandName}}</h2>
<ul>
    {{#each bandHbs.genres}}
        <li>{{this}}</li>
    {{/each}}
</ul>
<p>{{bandHbs.info}}</p>
<p>Admin email: {{bandHbs.admin.email}}</p>
<ul>
    {{#each bandHbs.members}}
        <li>{{this.firstName}}</li>
    {{/each}}
</ul>

<a href="/find-member/{{bandHbs._id}}"><button class="btn rounded-btns-red">Find members</button></a>

<a href="/edit-band/{{bandHbs._id}}"><button class="btn rounded-btns-white">Edit</button></a>